[Unit]
Description=Glances
After=network.target

[Service]
ExecStart=/usr/bin/glances -w --fahrenheit
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
